################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/obj/LabbTheOOPHotelP2.csproj.nuget.dgspec.json
/obj/LabbTheOOPHotelP2.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/bin/Debug/net9.0/LabbTheOOPHotelP2.deps.json
/bin/Debug/net9.0/LabbTheOOPHotelP2.dll
/bin/Debug/net9.0/LabbTheOOPHotelP2.exe
/bin/Debug/net9.0/LabbTheOOPHotelP2.pdb
/bin/Debug/net9.0/LabbTheOOPHotelP2.runtimeconfig.json
